.header {
  background-color: red;
  padding: 1rem;
}
.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo:hover {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
